netbeans/31/OrderServiceClient/src/META-INF/wsdl/localhost_8080/OrderService/OrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.netbeans.galileo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.netbeans.galileo.com/" name="OrderService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.netbeans.galileo.com/" schemaLocation="http://localhost:8080/OrderService/OrderService?xsd=1" />
</xsd:schema>
</types>
<message name="addProductToCart">
<part name="parameters" element="tns:addProductToCart" />
</message>
<message name="getSumOfCart">
<part name="parameters" element="tns:getSumOfCart" />
</message>
<message name="getSumOfCartResponse">
<part name="parameters" element="tns:getSumOfCartResponse" />
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct" />
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts" />
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse" />
</message>
<message name="getAmountOfCart">
<part name="parameters" element="tns:getAmountOfCart" />
</message>
<message name="getAmountOfCartResponse">
<part name="parameters" element="tns:getAmountOfCartResponse" />
</message>
<portType name="OrderService">
<operation name="addProductToCart">
<input wsam:Action="http://service.netbeans.galileo.com/OrderService/addProductToCart" message="tns:addProductToCart" />
</operation>
<operation name="getSumOfCart">
<input wsam:Action="http://service.netbeans.galileo.com/OrderService/getSumOfCartRequest" message="tns:getSumOfCart" />
<output wsam:Action="http://service.netbeans.galileo.com/OrderService/getSumOfCartResponse" message="tns:getSumOfCartResponse" />
</operation>
<operation name="addProduct">
<input wsam:Action="http://service.netbeans.galileo.com/OrderService/addProduct" message="tns:addProduct" />
</operation>
<operation name="getProducts">
<input wsam:Action="http://service.netbeans.galileo.com/OrderService/getProductsRequest" message="tns:getProducts" />
<output wsam:Action="http://service.netbeans.galileo.com/OrderService/getProductsResponse" message="tns:getProductsResponse" />
</operation>
<operation name="getAmountOfCart">
<input wsam:Action="http://service.netbeans.galileo.com/OrderService/getAmountOfCartRequest" message="tns:getAmountOfCart" />
<output wsam:Action="http://service.netbeans.galileo.com/OrderService/getAmountOfCartResponse" message="tns:getAmountOfCartResponse" />
</operation>
</portType>
<binding name="OrderServicePortBinding" type="tns:OrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addProductToCart">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="getSumOfCart">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="getProducts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAmountOfCart">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OrderService">
<port name="OrderServicePort" binding="tns:OrderServicePortBinding">
<soap:address location="http://localhost:8080/OrderService/OrderService" />
</port>
</service>
</definitions>